<div class="row">
    <div class="col-12">
        <div class="about-bg text-center">
            <div class="about-content text-white">
                <h1 class="display-4">Warehouse Operations</h1>
                <p class="lead">A FED 25 Project - © Copyright 2020</p>
                <hr class="my-4">
                <p>This is a Front-End Web Development Course project designed to test
                    the HTML, CSS, Java-Script, Type-Script and Angular programming 
                    skills acquired during the time period of 3 months.
                </p>
                <p><strong>Author: Momcilo Savic</strong></p>
            </div>
        </div>
    </div>
</div>